.container {
  padding: 24px;
  background-color: #1d1c1c;
  margin: 24px;
}

.header {
  display: flex;
  height: 45px;
  justify-content: space-between;

}

.title {
  color: white;
  font-weight: 800;
  font-size: 20px;
}

.copyBtn {
  padding: 10px;
  font-weight: 700;
  background-color: #2a8b8b;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.characterLength {
  padding: 10px;
}

.characterLength > span {
  color: white;
  font-weight: 800;
  font-size: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.characterLength > input {
  width: 100%;
  margin-top: 25px;
}

.checkboxes {
  color: white;
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 700;
}

.checkboxes > div {
  gap: 5px;
  display: flex;
  padding: 5px;
}

.generateBtn {
  width: 100%;
  font-size: 20px;
  padding: 20px;
  margin-top: 15px;
}

.errorMessage {
  color: red;
  font-weight: 600;
  font-size: 16px;
  margin-top: 15px;
}